#content-home {
    display: flex;
    flex-direction: column;
    margin: 0% 5%;
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    height:80vh;
    width: auto;
}
#welcome-part p {
    padding: 2%;
    text-align: center;
}

#welcome-part {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
#home-heading {
    text-align: center;
    padding: 0;
}

